
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Dancing Script', cursive;
}
a{
    text-decoration: none;
}

.topnav {
    overflow: hidden;
    background-color: #2c3e50;
    margin-bottom:0;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 120%;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .highlight {
    background-color: #4CAF50;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
#UserQuestions{
    width: auto;
    margin-left: 20px;
    height:85%;
    margin-right:20px;
    background-color: #fff;
    padding: 15px;

}
#mostAnswered{
display: none;
}
.web-statistics {
margin-top: 15px;
margin-left:70px;
margin-right:70px;
display:none;
width: 80%;
}
.UserQuestions{
 background-color:black;
}
.box{
background-color: white;
}
.Question{
border:inset;
height: auto;
text-align: Justify;
width: 80%;
margin-left: 50px;
margin-right: 50px;
margin-top: 15px;
}
.answerList{
display: none;
}
.icon{
float:left;
margin-top:-2%;
}
.icon#question{
margin-bottom:-2%;
}
.icon2{
margin-left: 20%;
}
.icon i{
font-size:1em;
}
i{
margin-top: -2%;
}
#date{
float:right;
margin-top: -3%;
}
.top{
background-color:grey;
padding: 1%;
margin:0.2%;
}
.question .box-top {
    color: #fff;
    text-shadow:0px 0px 1px #000;
    background-color: #2980b9;
    padding:5px;
    padding-left:15px;
    font-weight: 300;
}
div#box .box-panel{
    padding: 15px;
    background-color: beige;
    color: #333;
}
div#question .box-panel{
    padding: 15px;
    background-color: hsl(180, 17%, 91%);
    color: #333;
}
.box-panel p{
    font-size: 1.0em;
    padding: 5px;
}
div.statistics::after {
    content: "";
    clear: both;
    display: none;
    width: 80%;
}
div.square{
    float:left;
    background-color: #0D1112;
    padding: 15px;
    width: 50%;
    color: white;
}
div.icon{
    color: black;
}
div.question-stat{
    color:#f5f9fa;
}
div.footer{
    width: 100%;
    height: 7%;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1.6em;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    margin-top: 2px;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  /* endof styling separating line  */

  /*start of styling form */

  input[type=text],input[type=password] {
    width: 100%;
    padding:15px;
    margin:5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 6px;
  }

  input[type=submit] {
    width: 20%;
    height:35px;
    background-color: rgb(50, 137, 250);
    color: white;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 4px;
    border:none;
    cursor: pointer;
  }

  input[type=submit]#stackoverflow{
  margin-left: 50px;
  }

div.post {
    border-radius: 5px;
    background-color: burlywood;
    padding: 20px;
    margin-bottom: 20%;
    margin-top: 2%;
    width: 80%;
    margin-left: 50px;
    display: none;

}
  /* adds padding to container elements*/
  .container{
    padding: 16px;

  }
  .Question-form{
  border:outset;
  margin-top: 10px;
  width:80%;
  margin-left:50px;
  margin-right:50px;
  display:none;
  }
  form#user-profile{
   padding:16px;
   }
   .answers{
   background-color:teal;
   color:black;
   border: solid black 1.5px;
   padding: 3%;
   }
  /*end of styling middle section  */

  /*start of styling form */
  .login{
    border:1px solid #ccc;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom:10px;
    border-radius: 8px;
  }

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  /* start set style for buttons*/
  button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 5px;
  }
  button#close{
  float: right;
  }

  button#accept{
  margin-left: 75%;
  margin-bottom: 0;
  }

  button:hover{
    opacity: 1;
  }
  .button::after{
    color: "";
    clear: both;
    display: table;
  }
  .cancelbtn{
      padding: 14px 20px;
      background-color: #f44336;
  }
  .cancelbtn, .Register {
    float: left;
    width: 50%;
  }
  .buttons::after {
      content: "";
      clear:both;
      display:table;
  }
  /*changes styles for cancel in small screen  */
  @media screen and (max-width: 300px) {
      .cancelbtn, .Register {
         width: 100%;
      }
    }

  /*changes styles for cancel in small screen  */
  @media screen and (max-width: 300px) {
      .cancelbtn, .Register,{
         width: 100%;
      }
    }
    /* user style begins here */


  @media screen and (max-width: 300px){
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
      .submit{
        width: 100%;
      }
    }
